{% extends 'layout.html' %}

{% block body %}
<link rel='stylesheet' href='../static/styles/home.css'>

  <h1 class="text-center">Matplotlib and NumPy are cool</h1>

  <div class="container">
    <ul>
      <li>
        <p>
          <span class="bold">Matplotlib</span> tries to make easy things easy and hard things possible.
          You can generate plots, histograms, power spectra, bar charts, errorcharts, scatterplots, etc., with just a few lines of code.
        </p>
      </li>
      <li>
        <p>
          <span class="bold">NumPy</span> is the fundamental package for scientific computing with Python.
        </p>
          <div id="quatation" class="w3-panel w3-leftbar">
            <p class="w3-xlarge w3-serif"><i>"Python is a wrapper for NumPy"</i></p>
            <p>Alicia M F Key</p>
          </div>
      </li>
    </ul>
  </div>
  <div id="images">
  <div id="funWithFlags">
    <img src="static/images/funwithflags.jpg" alt="funwithflags" style="width:400px">
  </div>
  <div id="funWithCharts">
    <img src="static/images/fun.jpg" alt="fun" style="width:400px">
  </div>
</div>
{% endblock %}
