{% extends 'layout.html' %} {% block body %}
<link rel='stylesheet' href='../static/styles/spectra.css'>
<div class="jumbotron text-center">
  <form id="postForm">
    <div id="all">
      <div class="row">
        <div id="left" class="col-sm-6-12">
          <input type="file" id="inputFiles" name="inputFiles" multiple/>
          <div id="selectedFiles">
          </div>
          <!-- <input type="file" name="inputFiles" id="inputFiles" class="inputfile" multiple/>
          <label for="inputFiles" id="choose" class="custom-file-label">Choose one or more files</label> -->
          <!-- <label class="fileContainer">
              Click here to trigger the file uploader!
              <input name="inputFiles" type="file" id="inputFile" multiple/>
          </label> -->

          <!-- <div class="input-group mb-3">
            <div class="custom-file"> -->
          <!-- <input name="inputFiles" type="file" id="inputFile" multiple> -->
          <!-- <label for="inputFiles">Choose files</label> -->
          <!-- <label id="choose" class="custom-file-label" for="inputFiles">Choose files</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="uploadFile">Upload</span>
            </div>
          </div> -->
        </div>
        <div id="right" class="col-sm-6-12">
          <div>
            <label for="points">Points:</label><br>
            <input id="points" type="range" name="points" value="100" min="0" max="500" data-show-value="true">
            <span id="textInputPoints"></span>
          </div>
          <div>
            <label for="time">Animation time (sec) </label><br>
            <input id="time" type="range" name="time" value="10" min="0" max="30" data-show-value="true">
            <span id="textInputTime"></span>
          </div>
        </div>
      </div>

      <div id="divShow" class="row">
        <button id="show" type="submit" class="btn btn-primary">Show</button>
      </div>
    </div>
  </form>
  <div id=plotImgLabel>
    <img id="plotImg" src="static/images/fun-graph.jpg" alt="funny graph">
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="/static/spectra.js"></script>
{% endblock %}

<!-- <div class="temp">
<input type="file" name="file1">
<input type="file" name="file2">
<input type="file" name="file3">
</div> -->
