{% extends 'layout.html' %}

{% block body %}
    {% if filename %}
      <h1>Absorption spectra</h1>
      <img src="{{filename}}">
      <div>
        <button type="button" class="btn btn-secondary"><a href="/test">Go Back</a></button>
      </div>
    {% else %}
      <h1>Choose Absorption spectra</h1>
      <h4>Upload new File</h4>
        <form action="" method=post enctype=multipart/form-data>
          <p><input type=file name=file>
             <input type=submit value=Upload>
        </form>
        <div>
          <button id="ndbel" type="button" class="btn btn-secondary">Nd:BEL</button>
          <button type="button" class="btn btn-secondary">Nd:BaY2F8</button>
          <button type="button" class="btn btn-secondary">Nd:Y2O3</button>
          <button type="button" class="btn btn-secondary">Nd:YAG</button>
          <button type="button" class="btn btn-secondary">Nd:Y2O38</button>
        </div>
    {% endif %}
{% endblock %}
<!-- <script src="feTest.js"></script> -->
